@font-face {
   font-family: 'GothamBook';
   font-display: swap;
   src: url('file:///C:/Users/david.victor/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-17_183548/fonts/GothamBook/font.ttf');
}
